<HTML>
<head>
<%= @html[:head].html_safe %>
<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
<%= csrf_meta_tags %>
</head>
<body>
<%= @html[:body].html_safe %>
<div id="fuckespn">
<button onclick="selectify()" id="floatbutton">Click when you have selected UNWANTED text</button>
<button id="floatbutton2" onclick="body_finder()">Click when you have selected WANTED text</button>
<button onclick="send_info()" id="floatbutton3">Send info</button>
<div id="popUpDialog">
<button id="yesbutton">Yes</button>
<button id="nobutton">No</button>
<button id="toomuch">Too much?</button>
<button id="toolittle">Too little?</button>
<button id="bcktrk">Backtrack?</button>
</div>
</div>
</body>
</html>