d<HTML>
<head>
<%= @scraper.html_head.html_safe %>
<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
<%= csrf_meta_tags %>
</head>
<body>
<div id="cheatespn">
<button onclick="selectify()" id="floatbutton">Click when you have selected UNWANTED text</button>
<button id="floatbutton2" onclick="body_finder()">Click when you have selected WANTED text</button>
<button onclick="save_info()" id="floatbutton3">Send info</button>
<%= button_to 'Generalize rule', domain_rules_create_path(:id => @scraper.id) %>
<div id="popUpDialog">
<button id="yesbutton">Yes</button>
<button id="nobutton">No</button>
<button id="toomuch">Too much?</button>
<button id="toolittle">Too little?</button>
<button id="bcktrk">Backtrack?</button>
</div>
</div>
<%= @scraper.html_body.html_safe %>
<footer>
	<h4>
	<%= link_to 'Update',  scraper_update_path %>
</h4>
</footer>
</body>
</html>